Checks: >-
  -*,
  clang-analyzer-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  performance-*,
  modernize-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-special-member-functions,
  -readability-magic-numbers
HeaderFilterRegex: '^(src|include/simrv)/'
WarningsAsErrors: ''
FormatStyle: file
